#MainIndexText{
    text-align: center;
}
.Persoon1{
    text-align: center;
}
.Persoon2{
    text-align: center;
}
.ImgPersonen{
    height: 15%;
    width: 15%;
    border-radius: 100%;
    width: 13%;
}

.PersoonText{
    font-size: 25px;
    width: 60%;
    
}
.navbar{
    position: fixed;
    top: 0;
    width: 100%;
}