body{
    background: #f6cd8b !important;
}

#MainIndexText{
    text-align: center;
}
.Persoon1{
    text-align: center;
}
.Persoon2{
    text-align: center;
}
.ImgPersonen{
    height: 15%;
    width: 15%;
    border-radius: 100%;
    width: 13%;
}

.PersoonText{
    font-size: 25px;
    width: 60%;
    
}
.navvv{
    position: fixed;
    top: 0;
    width: 100%;
}

.shopmain{
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;

}
.shop{
    background: #ffffff;
    text-align: center;
    margin: 5%;
    width: 10%;
    height:30%;
    border: solid 2px #000000 ;
}
.boeks-group{
    display: flex;
    justify-content: center;
}
.boeks{
    background-color: #ffffff;
    margin: 5%;
    width: 714px;
    height: 370px;
    border: solid 2px #000000 ;
}
.bookImg{
    float: right;
}
.SterImg{
    width: 20%;
}
